[2014-08-18 21:11] zol opened #1 "Arrow triangle thing scrolls on category page"
The white bit stays in place when I scroll.
![screen shot 2014-08-18 at 2 10 55 pm](https://cloud.githubusercontent.com/assets/81672/3958099/2d3654f6-271c-11e4-93f3-b1aee121f7c8.png)

[2014-08-18 22:34] zol commented on #1
Seems to be some sort of browser artifact under chrome, not seeing it in the sim.

[2014-08-18 22:37] domyen commented on #1
I can't seem to reproduce this in Mac Chrome 36 or latest Safari.

[2014-08-18 22:40] zol commented on #1
Strange, I'm on chrome Version 36.0.1985.143 (latest). Not seeing it in
Safari either.

On Mon, Aug 18, 2014 at 3:37 PM, Dominic Nguyen notifications@github.com
wrote:

##

_Zoltan Olah_
Partner/Engineer
http://percolatestudio.com
+1 415 696 4455

[2014-08-22 22:40] domyen opened #2 "Transitioner needs to preserve scroll position when moving back and forth"
Repro:
1. Scroll to the midway down the home screen
2. Tap recipe
3. Tap back button

[2014-08-23 00:44] tmeasday commented on #2
Ahh. This is a IR plugin that I've wanted to write for a while. Will do a first version.

[2014-09-02 05:38] tmeasday opened #3 "Unable to start the app"
Strangely when I run the app, meteor hangs on "starting your app" and heaps of dead node processes start appearing. No logging anywhere.

@zol - any ideas? Do you see this locally?

I've tried recloning and everything.

[2014-09-02 06:24] tmeasday commented on #2
Gave it a try and ran into some issues. Will discuss with Chris a solution.

I wouldn't suggest waiting for a fix here is a good idea. Move forward without it.

[2014-09-02 17:09] domyen opened #4 "iOS & Safari flickering"
@zoltan in iphone & safari there is a flickering problem when transitioning from page to page, doesn't happen in chrome.

I tried to troubleshoot the css with various gpu accelerations to no avail. I suspect it might have something to do with momentum. Can you check it out?

[2014-09-02 20:11] zol commented on #3
Nope, I don't see this. Try now (`master` is on 0.9)

[2014-09-02 20:12] zol commented on #1
No longer seeing this on my new MBP with (presumably) a newer version of chrome. Going to write it off as a glitch, closing.

[2014-09-02 20:12] #1 closed, assigned to domyen

[2014-09-02 20:13] zol commented on #4
@tmeasday - seeing this too. I've a feeling this is iron-router related, any ideas off the bat? (I'm going to hold off looking at it till you've responded)

[2014-09-02 20:26] zol opened #5 "Can't send email"
Clicking 'send recipe' throws js error.

[2014-09-02 20:40] domyen opened #6 "Nav: transparency QA"
Categories, Favorites nav needs to be remain opaque when scrolling.

[2014-09-02 20:42] domyen opened #7 "Nav: embiggen clicktargets"

[2014-09-02 21:01] zol opened #8 "Console warnings/errors in safari"
@tmeasday @dominicnguyen do we care? It's bizarre that safari complains about the minimal-ui key as it's apple's own :-/

![screen shot 2014-09-02 at 1 58 14 pm](https://cloud.githubusercontent.com/assets/81672/4125693/26961108-32e4-11e4-81b3-0a0dd60784cf.png)

[2014-09-02 21:13] zol commented on #4
Was looking at this a bit more as I realized the overlay is a simple plugin with no routing and the flickering is occurring there too. I can make the flicker disappear for the overlay if I give the `#email-overlay` div `display: hidden`. My theory is it's being drawn for a split second as it's placed into the dom then becoming hidden by velocity and slowly faded in.

The problem with the side-side

[2014-09-02 23:10] domyen commented on #6
Test by navigating to favorites or categories and scrolling, the nav bg should not flash in and out of transparency but remain the same.

[2014-09-02 23:16] domyen commented on #8
The CSS errors come from the reset.css and are used for IE. It's nbd for me.
Re: minimal-ui, let's leave it.

[2014-09-03 00:03] tmeasday commented on #4
Are we using velocity wrong? I can't see why there'd be a reflow in between
inserting and starting velocity.

Haven't had a chance to look at this one yet as Sous was broken for me
yesterday.

On Wed, Sep 3, 2014 at 7:13 AM, Zoltan Olah notifications@github.com
wrote:

[2014-09-03 22:08] Slava opened #10 "Fixed size on pages"
Right now the app doesn't fill the whole screen, the sizes are rather hardcoded. On iPad Mini I am testing on it doesn't look like a mobile app :)

See attachment:
![img_20140903_145915](https://cloud.githubusercontent.com/assets/2608446/4142267/cdd03e76-33b6-11e4-92e8-ff8a9c5a89e8.jpg)

[2014-09-03 23:30] dgreensp commented on #4
I think velocity is expecting the element to start hidden.  Adding a `.hide()` before invoking velocity seems to help.

My first impression of the way animation is done is that there are two many layers of abstraction.

The zero-abstraction way actually looks pretty good in code, which you can achieve by removing the `{{#momentum}}` helper from `client/templates/body.html`, making all `div.page` h

[2014-09-04 01:22] domyen commented on #10
Hey @Slava, to limit scope and markup complexity our directive was to target mobile devices –specifically phones– only, thus our breakpoint/max-width is constrained to signal that intention.

While we can remove the artificial limit, your mileage may vary.

[2014-09-04 04:17] tmeasday commented on #4
Hi @dgreensp

The thing is that the complexity in the momentum-iron-router package comes from solving two problems that are very common in practice:
1. Different transitions in different circumstances.

   This is great for a right-to-left transition but when the user hits the back button, we need to go left-to-right. Plus if they hit a link in the menu, we need to not transition at all. [1]. We c

[2014-09-04 05:47] tmeasday commented on #3
Ok, just going to close this one. Was super weird though. I even tried reinstalling meteor.

[2014-09-04 05:47] #3 closed, assigned to nobody

[2014-09-04 05:49] tmeasday commented on #5
Not seeing this? Is it fixed for you?

[2014-09-04 05:53] Slava commented on #10
I realize it was intended, not sure if supporting all sizes is in your plans?

[2014-09-04 17:50] zol commented on #10
It wasn't but it could be. I'll raise it with Matt.

[2014-09-04 17:55] zol commented on #4
Regarding velocity, are you guys completely against using it? In our
experience it's more strait forward to understand and work with especially
when you start building more complex animations (e.g an animating list).
Better performance is also easier to obtain than by hand rolling css.

[2014-09-04 18:14] zol commented on #5
Nope, still seeing it. I can take a look at why if you can't reproduce it:
![screen shot 2014-09-04 at 11 13 29 am](https://cloud.githubusercontent.com/assets/81672/4154148/41eb2aca-345f-11e4-8ada-3c84d4a1579c.png)

[2014-09-04 22:07] Slava opened #11 "Missing images on frontpage"
It doesn't happen in the emulator but happens on the device. @arbesfeld thoughts?

[2014-09-04 22:29] Slava commented on #11
On my device, if I go to recipes, pictures of seasons show up (like "spring bites", "summer tastes", etc), even though they have absolute urls as CSS 'background-image': `url('/img/app/bg-seasons-summer-640x240.jpg')`

[2014-09-04 22:50] arbesfeld commented on #11
We may be translating these to relative as part of the CSS compilation step.

On Thu, Sep 4, 2014 at 6:29 PM, Slava Kim notifications@github.com wrote:

[2014-09-04 23:21] Slava commented on #11
Yeah, the CSS explanation makes sense.

I noticed that images work after first HCP. Maybe it has something to do with loading a page from bundle vs loading it from disk.

[2014-09-04 23:28] Slava commented on #11
I have a suspicion, it has something to do with IronRouter rewriting paths. `window.location.href` is '/' on front-page.

[2014-09-05 01:01] zol commented on #8
Closing.

[2014-09-05 01:01] #8 closed, assigned to nobody

[2014-09-05 01:02] zol commented on #7
Looks good.

[2014-09-05 01:02] #7 closed, assigned to zol

[2014-09-05 01:04] zol commented on #4
Closing this out, fixed in the latest momentum package.

[2014-09-05 01:04] #4 closed, assigned to zol

[2014-09-05 01:06] zol commented on #10
From today's conversation, the two options:
1. Place the app in an 'iphone frame' to signify that it is mobile layout only.
2. Design/implement a full responsive layout (i.e, not just stretching out the current layout).

[2014-09-05 01:06] zol commented on #11
@Slava - Are you actively looking into this bug (on the cordova branch) or should we pick it up and look at it?

[2014-09-05 01:08] Slava commented on #11
@zol I spent a lot of time and now I think it is the fault of iron-router. Once Iron-Router supports hash fragments, I will continue looking into it.

But! I can be just confused on how browsers work and I missed something crucial so feel free to look at it as well.

[2014-09-05 01:10] zol opened #12 "Rename files"
Out of today's conversation:

(just notes for myself)
- [x] recipes.json
- [x] main*
- [x] body -> appBody
- [x] /lib/collections/recipes.js ->  /lib/recipes.js
- [x] publishCounts -> Counts.publish

[2014-09-05 01:10] zol commented on #11
@Slava thanks! cc/ @tmeasday

[2014-09-05 01:13] zol opened #13 "Move momentum plugins into the project"
A decision made in today's meeting was to move momentum plugins directly into the project and attach via the `rendered` callback.

Also, we won't worry about loading templates when transitioning routes.

[2014-09-05 01:28] domyen commented on #10
I'm much in favor of option 1. I've added iPhone chrome which makes it even more obvious what the app is intended for.

**Option 2 considerations:**
1. Image quality is notoriously low when retrieved from recipe sources. We've managed to find the best quality image possible for each recipe however this still means many are quite low in resolution when viewed on large screens (sub 600px). On a hi-d

[2014-09-05 01:50] tmeasday commented on #11
@Slava TBH I'm confused about how images are supposed to / going to work with Cordova.

If I specify images **without** a leading `/`, then they break when I route around the app outside of cordova (in the regular browser).

If I specify them **with** a leading `/`, they break in Cordova.

Is there a solution that works in both cases? Or do we need to check `Meteor.isCordova` all over the place wh

[2014-09-05 02:42] tmeasday commented on #11
@Slava also I spoke to Chris and he'll get a pre-release of IR 0.10.0 (with built-in hash frag support) out either tomorrow or Monday.

[2014-09-05 04:28] Slava commented on #11
@tmeasday looking at this again, you are right - image paths are probably different on Cordova and on Browser. We don't have a good story for that right now, one of the solutions could be using a special Blaze helper like `{{absolutePathPrefix}}`, and in the browser it is always '/', for Cordova it is something like `file:///Applications/uid/appname.app/www/` or something else on Android.

Yeah, I

[2014-09-05 04:30] tmeasday commented on #11
@Slava heh, no worries. I think we are having a triangular conversation with Chris. Anyway, I think I briefed him on my concerns so we'll see what you guys come up with.

On the image path issue, do let us know what answer you want us to use in this app (or make the change yourself) :).

[2014-09-05 07:32] tmeasday commented on #5
Right. Happened on a category page, but a recipe page was OK.

[2014-09-05 08:02] tmeasday commented on #13
We also use momentum to fade in the email overlay.

Shall we use `uihooks` for this or just use CSS after all? @dominicnguyen ?

[2014-09-06 00:21] domyen commented on #13
@tmeasday uihooks is a better pattern for overlays IMO

[2014-09-08 18:46] Slava commented on #4
We tried the webapp on iphones/ipads today, all side-by-side transitions are jumping from 0% to 100%, then back to 0% and then play the animation. Works great on desktop browsers, though.

[2014-09-08 19:01] zol commented on #4
Thanks, we're in the process of removing momentum so I think this is a bug
introduced by that. We'll QA once we're done.

_Zoltan Olah_
Partner/Engineer
http://percolatestudio.com
+1 415 696 4455

On Mon, Sep 8, 2014 at 11:46 AM, Slava Kim notifications@github.com wrote:

[2014-09-08 20:55] zol commented on #11
Goddamn ios. I've noticed sometimes `document.baseURI` is like`file:///recipes/Doxuwodzeh2G6anAh` (seen when running on a real device and the simulator) and sometimes it's like `file:///Users/zol/Library/Application%20Support/iPhone%20Simulator/7.1/Applications/2F65AB11-E132-43F0-9860-B10BDA689174/Documents/meteor/69fd5de33cacce0c3a3d50e7c6522fcd17d6ea83/` (only seen on the simulator).

@Slava @tm

[2014-09-08 22:05] Slava commented on #11
@zol I don't have a 100% correct and expanded answer but I would rather not rely on `document.baseURI` on Cordova. First of all emulator and the device are not identical environments (and they don't even try to make it identical). Secondly, depending on if you hot-code pushed or not, the path can be different.

We are working on making it consistent and easier, but cannot guarantee that it will be

[2014-09-08 22:13] zol commented on #11
@Slava - yeah, I've now realized that. What is the approach you're working on? Should we stop bothering to try and fix this issue till you've finalized the approach? Currently there doesn't seem to be a relative path option that is consistent across all Meteor-Cordova environments.

[2014-09-09 00:38] stubailo commented on #11
Yeah, we are working on a new way to fix the URL problem right now, if it works then everything should be a lot better. We'll know by tomorrow probably.

[2014-09-09 09:12] tmeasday commented on #4
@Slava I think maybe you were running off the master branch?

Cordova branch works pretty well, at least for me. I've merged master into it.

I'm not sure if we should bother backporting the various uihook changes to master? Perhaps we should just merge cordova into master? @zol do you have any specific plans here?

[2014-09-09 16:32] zol commented on #4
Was planning on merging cordova to master. I guess I was holding off till
0.9.2 is out of the RC stage but if well all think merging cordova to
master is fine let's do it.

_Zoltan Olah_
Partner/Engineer
http://percolatestudio.com
+1 415 696 4455

On Tue, Sep 9, 2014 at 2:12 AM, Tom Coleman notifications@github.com
wrote:

[2014-09-10 16:46] domyen commented on #13
lgtm

[2014-09-10 20:17] #13 closed, assigned to nobody

[2014-09-10 20:17] zol opened #14 "Remove XXXs"
When IR + Cordova are ready.

[2014-09-10 20:18] #6 closed, assigned to nobody

[2014-09-10 20:19] #5 closed, assigned to nobody

[2014-09-10 20:20] zol commented on #10
Fixed via @stubailo's iPhone frame suggestion.

[2014-09-10 20:20] #10 closed, assigned to zol

[2014-09-10 20:37] zol commented on #12
@tmeasday could you please update/fix publishCounts and rename it's use here. `0.3.0` isn't working and I'm not setup as a maintainer for it.

[2014-09-11 05:17] tmeasday commented on #12
Done. Added you as a maintainer if you need to publish a new version on a different Meteor 0.9.2 RC (0.9.2-rc branch).

[2014-09-11 17:41] domyen opened #15 "iOS/Cordova: Open directions inside the app using a custom webview"
When tapping 'directions' it should open a custom webview inside the app. It should not open the safari app.

[2014-09-12 15:57] zol commented on #11
@Slava , @stubailo have you guys been able to test Sous with the latest RC? AFAIK Chris hasn't made a compatible release of iron:router yet, did you guys hack one together for testing?

[2014-09-12 16:58] Slava commented on #11
I am on vacation since today. So I didn't have a chance to port Sous to 0.9.2-rc8. Starting from 0.9.2-rc5 we have a different serving approach and hopefully now all the web-app code should work on mobile as is (no code changes, no relative paths, no special iron:router).

[2014-09-12 17:32] zol commented on #11
Thanks, yeah I'm hoping it just works out of the box but having trouble
with iron:router and the constraint solver. Enjoy your vacation!

_Zoltan Olah_
Partner/Engineer
http://percolatestudio.com
+1 415 696 4455

On Fri, Sep 12, 2014 at 9:58 AM, Slava Kim notifications@github.com wrote:

[2014-09-16 00:44] #12 closed, assigned to zol

[2014-09-16 00:48] zol opened #16 "White screen on iOS simulator"
I've updated `master` for Meteor `0.9.2`. Running `meteor run ios` results in just a white screen loading in the app simulator. @Slava @stubailo - does it work for you?

[2014-09-16 03:35] Slava commented on #16
Sorry, I ran the wrong branch.

[2014-09-16 04:02] stubailo commented on #16
So I was getting the same error on my computer, and I got the app to run perfectly by deleting ~/.meteor and reinstalling Meteor. Not sure what would cause that problem.

Let me know if that works for you.

[2014-09-16 04:07] Slava commented on #16
I was not getting any errors, then I removed `~/.meteor` and reinstalled everything and everything broke :(. Not sure what part is cached incorrectly.

[2014-09-16 04:09] stubailo commented on #16
Also as an aside, once you do get it to run you don't need to use "assetPathPrefix" anymore.

[2014-09-16 04:32] Slava commented on #16
Here is how I solved it:
- ran `meteor run ios` - got a white screen
- noticed that constraint solver downgraded the `tmeasday:publish-counts` from 0.3.1 to 0.3.0
- I manually edited the `.meteor/versions` and set it back to 0.3.1
- ran again and the app works

[2014-09-16 04:34] Slava commented on #16
The error messages I got before:

[code]

[2014-09-16 04:47] stubailo commented on #16
Weird - Slava, do you know how this version change fixed the problem?

[2014-09-16 04:50] Slava commented on #16
@stubailo looking at their repo, there are compatibility changes against `Meteor.Collection -> Mongo.Collection` rename. But the change was bumped as a "bug fix", i.e. minor version. https://github.com/percolatestudio/publish-counts/commit/c5230b0cd8729dc3a7859c208896e7ea11e0c4d2

I think, if you edit `.meteor/packages` to declare `tmeasday:publish-count@0.3.1`, it should be better?

[2014-09-16 19:39] zol commented on #16
@Slava - what logs are you looking at? When this white screen issue happens seems to be too early to be able to connect safari to the app. Running `.meteor/local/cordova-build/platforms/ios/cordova/log` shows no errors. I checked my `publish-counts` package never got downgraded but I've gone ahead and pegged it to `0.3.1`.

I'm still getting the white screen so will start deleting stuff.

[2014-09-16 20:00] zol commented on #16
Ok, deleting `~/.meteor` worked!! Incidentally, meteor tried to 'upgrade' publish counts to version `0.3.0` for me too so I've pegged it at `0.3.1`

[2014-09-16 20:00] #16 closed, assigned to Slava

[2014-09-16 20:00] zol commented on #11
Fixed by `0.9.2`

[2014-09-16 20:00] #11 closed, assigned to stubailo

[2014-09-16 20:16] zol opened #17 "Occasional white flash when transitioning between pages"
Working on a reliable reproduction. Perhaps we're starting the animation before the next page is completely rendered.

[2014-09-16 20:16] zol commented on #17
(Seen on iPhone 5S)

[2014-10-03 06:15] tmeasday commented on #2
Added some code to the ir-1.0 branch (you need an unreleased version of IR for it to work) that does it. Here https://github.com/percolatestudio/mdg-recipes/blob/ir-1.0/client/templates/app-body.js#L8-L34

Kind of arcane. Ideally it should be a package that abstracts it away I would have thought.

[2014-10-03 06:19] tmeasday commented on #14
The main one I'm looking to remove is the back button hackery.

An unreleased branch of Iron Location gives us the tools we need for this, but there's still a lot of code to keep track of pages in history and use them to tell if a popState is a "back": https://github.com/EventedMind/iron-location/blob/historyState/examples/backTracker/backTracker.js#L2-L46

We also probably want to put some code t

[2014-10-14 01:47] tmeasday commented on #14
@zol - what do you think about this: https://github.com/percolatestudio/mdg-recipes/blob/1e2ea6850271fbfce8faafe9c417cb6570d4add8/client/templates/app-body.js#L37-L66

I figured out a way to remove the autorun and I think the end result is pretty simple and easy to understand.

PS you need the `historyState` branch of iron:location to run this right now. Am trying to get it merged. (cc @cmather ;)

[2014-10-14 05:24] zol commented on #14
It looks good to me. Are we being inconsistent by having a setter but not a
getter (and not doing the same for `goingBack`)? If `initiator` and
`goingBack` are private to this file perhaps we should declare them at the
top and just use them directly?​

[2014-10-17 22:12] zol commented on #15
We're now opening safari for directions.

[2014-10-17 22:12] #15 closed, assigned to zol

[2014-10-18 01:07] zol opened #18 "No bookmarks show 404"
If you're not logged in and you cancel twitter oAuth the bookmarks page shows a 404 instead of the no recipes bookmarked yet message.

[2014-10-18 01:08] zol commented on #17
Closing this as we've rebuilt the app.

[2014-10-18 01:08] #17 closed, assigned to nobody

[2014-10-18 01:09] zol opened #19 "Brief 404 when transitioning over to a recipe page"
Perhaps we don't worry about this as we're moving to storing recipes in memory on the client.

[2014-10-19 23:29] tmeasday commented on #19
If not we need to figure out if we are doing in-page loading or not.

[2014-10-20 19:22] zol commented on #18
Lgtm.

[2014-10-20 19:23] #18 closed, assigned to nobody

[2014-10-20 19:24] zol opened #20 "Hitting back after oAuth takes you back to twitter"
Probably a tricky problem to solve but unfortunately this will come up for sure as the main oAuth trigger is the recipe page on which the only navigation action is to go back.

[2014-10-20 23:02] stubailo commented on #20
Is there a reason we are using the "back" function of the browser instead of specifying the route?

[2014-10-20 23:34] zol opened #21 "Janky transition when scrolling activity items into view"

[2014-10-21 00:20] zol commented on #20
@stubailo - Yeah there is. When there are multiple pages that link to a sub page you either have to keep track of where the user came from yourself or use the browser's back mechanism.

[2014-10-21 00:21] zol commented on #2
Closing this for the time being as the 0.9 IR solution is very ugly. Re-open when IR 1.0 comes out and we switch to it. Plenty of real world (including native) apps don't maintain scroll position.

[2014-10-21 00:21] #2 closed, assigned to zol

[2014-10-21 01:09] zol commented on #21
@tmeasday I've tried monkeying around with `getBoundingClientRect` to try to calculate what to `scrollTo` without much luck (maybe I'm not calculating the right value at the right time). Interestingly, the `.scrollIntoView()` works (in that it scrolls to the right position). When I have it in a `setTimeout` of `100`, so a number that's less than the LR transition time but greater than some smallis

[2014-10-21 03:56] tmeasday commented on #19
Going to disable the recipe 404 for now until we figure it out.

[2014-10-21 03:58] tmeasday commented on #21
The issue was that it was scrolling sideways somehow (you can see it if you slow the animation way down).

I implemented a simple fix that just calculates the scroll-top.

A alternate solution would be to avoid the side-ways scrolling. Not sure if that's feasible.

[2014-10-21 04:06] tmeasday commented on #20
Soln: We show a menu button (rather than back) if we are at the initial route. This happens in particular if you hit the recipe after oauth.

An alternative solution would be to have built-in fallback "back" routes for such situations but it's slightly more complex and arguably more surprising for users.

[2014-10-21 21:29] zol commented on #20
Lgtm.

[2014-10-21 21:29] #20 closed, assigned to zol

[2014-10-21 21:58] tmeasday commented on #19
Ok, there's no need to worry, no need to wait given local data.

[2014-10-21 22:25] zol commented on #19
Yep, looks good!

[2014-10-21 22:25] #19 closed, assigned to zol

[2014-10-21 22:26] zol commented on #21
Nice work T, they call him the scrollmeister...

[2014-10-21 22:26] #21 closed, assigned to zol

[2014-10-23 01:03] zol opened #22 "Port across enhancements from todos"
- [x] load splash screen delaying.
- [ ] Other stuff??

[2014-10-23 22:35] zol opened #23 "Move feed into it's own "what's cooking" section"
Matt: Seeing this in action, I want to move the feed into a separate page
called "What's Cooking".  Accessed from a new sidebar menu option
called "What's Cooking" in the second position of the nav.

[2014-10-23 22:36] zol opened #24 "Change 'home' header to 'local market'"
Matt: When you scroll down while viewing the frontpage, the header should
read "Local Market" instead of "Home".

[2014-10-23 22:38] zol opened #25 "Expand news item"
Matt: Expand the news section to hold 4-5 lines of text plus a line of
lighter text for hours "Open M-F 9-6, Sat 10-5."  (Akin to what a
butcher shop might write on a blackboard outside the store.  It'd be
more than one brief line.)  The hours text can be hard coded into the
template.  The news section is configurable via a Mongo document.

Zol: This just means expanding the copy we have for our s

[2014-10-23 22:38] zol opened #26 "Show only one activity item on home"
Matt: After the news section, render _one_ item from the feed (the most
recent) and a button that says "See what's cooking" which goes to the
What's Cooking page.

[2014-10-23 22:39] zol opened #27 "Remove the map icon from the upper right on home"

[2014-10-23 22:40] zol opened #28 "Change activity lockup"
To look more like twitter's.

Matt: On the feed (both the app-wide feed tab and the feed in the
recipe), we'd like to try a different layout that makes it look more
like a feed.
- As it is, the lack of margins (both left/right and top/bottom
  between images) and the way we did the author/text between images
  looks more like a tile of photos with ribbons, rather than a series of
  posts.  It's pr

[2014-10-23 22:41] zol opened #29 "Display street name instead of city"
Matt: Instead of displaying the city name, can we display a street name?
The city name doesn't make sense in the context of a local market, as
everyone will be in the same city.

Zol: Let's keep the `city` field initially and just write the streetname in so we can preview roughly how this might look before committing to the change.

[2014-10-23 22:42] zol opened #30 "Twitter text should match feed text"
Matt: Twitter text should match the feed text, plus the hashtag #localmarket.

Zol: We should truncate and ellipsize the share text at the right char limit and append #localmarket.

[2014-10-23 22:43] zol opened #31 "Include image in tweet"

[2014-10-23 22:44] zol opened #32 "Remove tweet text"
As it's now the same as the share feed text. Also change the checkbox to be checked by default and the label to 'Also post to twitter'.

[2014-10-23 22:44] zol opened #33 "Rename feed button to 'Pictures'"

[2014-10-23 22:45] zol opened #34 "Change share icon to camera"

[2014-10-23 22:45] zol opened #35 "Better excerpt indication"
Matt: Can we but a better indication that the recipe is only an excerpt
and you have to click to see the full recipe?  It's not obvious right
now.  Maybe a use of an ellipsis in the steps?

[2014-10-23 22:46] zol opened #36 "Change bookmarks title"
To 'Your bookmarks' (but leave the menu as is).

[2014-10-23 22:47] zol opened #37 "Change recipes section header to 'Our favorite recipes'"

[2014-10-23 22:47] zol opened #38 "Add swipe gesture for menu like in todos"

[2014-10-23 22:49] zol opened #39 "Remove scrollability from the menu"
Just divide the available vertical space up for the buttons.

[2014-10-23 22:51] zol opened #40 "QA recipe title lengths on mobile"
Matt: On an iPhone 4, the "Pierre Hermé & Dorie Greenspan's World Peace
Cookies" overlaps the header. We should make sure all recipe titles
are two lines or less

[2014-10-23 22:53] zol opened #41 "Extra copy next to phone chrome on desktop and an admin link"
We're going to include some copy next to the phone talking about how mdg + percolate made this example app and that you can just run it on your device with one command. In addition, we'll include a link to the 'backend admin' page which will allow the first authenticated twitter use to change the news item text.

[2014-10-24 01:01] domyen commented on #27
Fixed per https://github.com/percolatestudio/mdg-recipes/commit/1e55857388ab0caa24bfccaf36cec4031b43c5dd

[2014-10-24 01:05] domyen commented on #36
https://github.com/percolatestudio/mdg-recipes/commit/e498bdc4cee86353dc79a69210f7826f490ceb3d

[2014-10-24 01:10] domyen commented on #35
Added an ellipsis to every step and changed the CTA copy to 'See full recipe on Source'.

[2014-10-24 01:17] domyen commented on #23
Added the menu placeholder. Feel free to link it to the new route.

[2014-10-24 01:49] domyen commented on #32
Changed copy & first pass at removing these styles. https://github.com/percolatestudio/mdg-recipes/commit/289e7b54f5b325de95318fc2e2787ce076f1ab35

[2014-10-24 04:11] tmeasday commented on #30
I think we already limit the share text to the right length?

[2014-10-24 04:15] tmeasday commented on #31
Phew!

Ok we _could_ have used the `OAuth1Binding` to do this but for some reason it includes the form parameters in the oauth header (which isn't necessary, request doesn't do it), which makes the request blow up if one of those parameters is an image.

So possibly we could ask MDG to fix this.

Otherwise, I've included a pretty simple solution involving `Npm.require('request');`. I think we shou

[2014-10-24 04:39] tmeasday commented on #23
Ok, hooked it up. Final styling.

Also, this page more than any other needs loading state.

[2014-10-24 16:58] zol commented on #40
lgtm.

[2014-10-24 16:58] #40 closed, assigned to zol

[2014-10-24 17:43] domyen commented on #23
Styled per https://github.com/percolatestudio/mdg-recipes/commit/236bdf3a6f9dd5b28ba48aeaed0e8d91cd77872f. @tmeasday or @zol do we have a loading template?

[2014-10-24 17:48] zol commented on #39
Lgtm.

[2014-10-24 17:48] #39 closed, assigned to zol

[2014-10-24 17:53] zol commented on #38
Lgtm.

[2014-10-24 17:53] #38 closed, assigned to zol

[2014-10-24 17:53] zol commented on #37
Looks good.

[2014-10-24 17:53] #37 closed, assigned to zol

[2014-10-24 17:54] zol commented on #36
Looks good.

[2014-10-24 17:54] #36 closed, assigned to zol

[2014-10-24 17:55] zol commented on #34
Looks good.

[2014-10-24 17:55] #34 closed, assigned to zol

[2014-10-24 17:55] zol commented on #33
Lgtm.

[2014-10-24 17:55] #33 closed, assigned to zol

[2014-10-24 17:58] zol opened #42 "140 char share message causes 500"

[2014-10-24 17:58] zol commented on #32
Lgtm.

[2014-10-24 17:58] #32 closed, assigned to zol

[2014-10-24 18:09] zol commented on #31
I'm going to refactor the existing code to use the npm request module as I think it's more correct.

[2014-10-24 18:10] zol commented on #30
No we don't, see: https://github.com/percolatestudio/mdg-recipes/issues/42

[2014-10-24 18:10] #30 closed, assigned to zol

[2014-10-24 18:10] zol commented on #27
Looks good.

[2014-10-24 18:10] #27 closed, assigned to zol

[2014-10-24 18:12] zol commented on #26
@dominicnguyen I think Matt wanted the what's cooking item to be just below the news, what do you think?

[2014-10-24 18:12] zol commented on #25
Looks good.

[2014-10-24 18:12] #25 closed, assigned to zol

[2014-10-24 18:13] zol commented on #24
Looks good!

[2014-10-24 18:13] #24 closed, assigned to zol

[2014-10-24 18:29] zol commented on #23
@dominicnguyen added loading section on feed , over to you

[2014-10-24 18:30] zol commented on #35
Lgtm.

[2014-10-24 18:30] #35 closed, assigned to zol

[2014-10-24 18:34] stubailo opened #43 "QA on Android"
I noticed the android platform has not been added to the project. Does this mean we have never tested this app on Android?

[2014-10-24 18:38] stubailo opened #44 "Profile picture in What's Cooking on home page is cut off on Android"
https://www.dropbox.com/s/49xfqjibxrxdsvm/Screenshot%202014-10-24%2011.38.06.png?dl=0

[2014-10-24 18:39] stubailo opened #45 "Featured recipe author cut off on Android"
https://www.dropbox.com/s/suly67v6159xrmm/Screenshot%202014-10-24%2011.39.05.png?dl=0

[2014-10-24 18:40] stubailo opened #46 "About text covered by learn more button and is not scrollable on Android/certain screen sizes"
https://www.dropbox.com/s/70o26mg2bru5y5y/Screenshot%202014-10-24%2011.39.46.png?dl=0

[2014-10-24 18:43] zol commented on #43
Not yet, we're still incorporating Matt's feedback from yesterday. We usually leave cross platform QA till last when feature development is finished.

[2014-10-24 18:47] stubailo commented on #43
Oh, okay. I was prematurely worried then - ignore this issue.

[2014-10-24 18:47] #43 closed, assigned to nobody

[2014-10-24 18:49] domyen commented on #41
Done. https://github.com/percolatestudio/mdg-recipes/commit/032934861d22a37a88d6214aed0958b27a3351b8

[2014-10-24 18:59] stubailo commented on #46
LGTM

[2014-10-24 19:06] #31 closed, assigned to zol

[2014-10-24 19:06] #46 closed, assigned to stubailo

[2014-10-24 20:25] zol commented on #41
Looks good, ty

[2014-10-24 20:25] #41 closed, assigned to zol

[2014-10-24 20:36] zol commented on #29
City is not an option in the reverse geocode api. Asking Matt on next steps...

[2014-10-24 20:38] zol commented on #23
Looks great!

[2014-10-24 20:38] #23 closed, assigned to zol

[2014-10-24 21:03] zol opened #47 "Twitter OAuth not working on Android simulator"
After granting the app access twitter redirects back to `localhost:3000` rather than the emulated device's i.p address. @stubailo what's the best workaround for this?

[2014-10-24 21:08] stubailo commented on #47
It just doesn't work. We are adding a console warning for this. The solution is to either run it on a device or deploy and then run it with --mobile-server

[2014-10-24 21:08] #47 closed, assigned to nobody

[2014-10-24 21:45] zol commented on #45
Sorry, that comment was for the wrong ticket. I'm moving it across now.

[2014-10-24 21:45] zol commented on #44
@stubailo we didn't see this problem at our end, it's possible 140fe5372f803338301ad38f984120b644560282 fixes it. Could you please check again.

[2014-10-24 21:47] zol commented on #45
@stubailo - we tried fixing this issue and it appears to be an android bug. Adding an extra character via the inspector causes it to recalculate (correctly) the ellipsized width. Going to circle back on this ticket later as we have bigger fish to fry right now.

[2014-10-24 22:42] #26 closed, assigned to zol

[2014-10-24 22:57] zol commented on #28
Lgtm.

[2014-10-24 22:57] #28 closed, assigned to zol

[2014-10-25 18:15] domyen opened #48 "Activity: Create new activity-item template to differentiate 'what's cooking' from recipe/pictures"

[2014-10-25 18:17] domyen opened #49 "Recipe: white background collapse animation flickering"
This may happen due to css3 transform scale.

[2014-10-25 18:21] domyen opened #50 "Nav background during page-to-page transitions should not change"
When navigating to a new page, the nav's white background disappears as the new page is sliding into view. The white background should remain the same throughout the entire transition.

[2014-10-26 01:29] zol commented on #49
Looks brilliant! I think we're finally there on this page.

[2014-10-26 01:29] #49 closed, assigned to zol

[2014-10-26 01:36] zol opened #51 "See through to recipe image when rubberbanding feed"
(on the recipe page, feed tab). The dreaded issue is back, @dominicnguyen maybe you're fix to the animation is causing it again or we forgot to check something in.

[2014-10-27 01:54] tmeasday commented on #42
@zol should we not also limit it on the client side here: https://github.com/percolatestudio/mdg-recipes/blob/master/client/templates/share-overlay.html#L31?

[2014-10-27 03:04] tmeasday commented on #50
@dominicnguyen - the reason here is that we were doing something wacky in doing a waypoint on the scrollable div. You are supposed to do the way point on the thing that's moving _within_ the scrollable div.

Check out my fix. Better ideas?

[2014-10-27 03:36] tmeasday commented on #50
Note if you want to mess with this that you should be able to call `$.waypoints('refresh');` without negative side-effects.

[2014-10-27 04:17] zol commented on #42
We talk about this with Dom on Fri. We want to leave the length restriction
on the internal share different from the length twitter imposes on us. We
ended up with 140 chars for the internal share but I could easily be
convinced to make it different (to make this decision more transparent) or
even to make it the same as twitter.

_Zoltan Olah_
Partner/Engineer
http://percolatestudio.com
+1 415 696

[2014-10-27 07:46] domyen commented on #50
Hey T, the fix solves my interaction concern. Why .children().first()?

[2014-10-27 08:24] tmeasday commented on #50
Well like I said we need a child of a scrollable div to attach the waypoint to. That seemed the best way to get one

[2014-10-27 09:42] avital opened #52 "On Android, when loading the app while offline text is b0rked on landing page"
(if you later start the server and let it connect, the text is no longer b0rked, and even if you then again disconnect it's fine.)

![screenshot_2014-10-27-02-41-23](https://cloud.githubusercontent.com/assets/37586/4788738/8a579cbc-5dbd-11e4-98e1-16248939a152.png)

[2014-10-27 15:40] zol opened #53 "Create /admin backend"

[2014-10-27 15:47] zol commented on #51
Lgtm.

[2014-10-27 15:47] #51 closed, assigned to zol

[2014-10-27 15:51] zol commented on #52
@dominicnguyen I can reproduce this layout issue when no activity is present too.

[2014-10-27 17:48] zol commented on #22
That's all I can think of for now. Closing.

[2014-10-27 17:48] #22 closed, assigned to nobody

[2014-10-27 17:49] zol commented on #14
I'm going to close this off for the moment as it looks like we're going to release with the IR related XXX's before we move to IR 1.0.

[2014-10-27 17:49] #14 closed, assigned to zol

[2014-10-27 17:50] zol commented on #29
The options are: poi, neighborhood, city, admin or country

[2014-10-27 17:51] zol commented on #53
@dominicnguyen - needs styling

[2014-10-27 18:39] zol commented on #48
I'm closing this ticket as:
1. I don't think the activity item should look different as the whole point of scrolling it into view was to ensure that it gave the user context as they are teleported to the feed section of the activity page.
2. I'm not sure the added code complexity is worth it.

Let's re-open this ticket if we decide to revisit this.

[2014-10-27 18:39] #48 closed, assigned to zol

[2014-10-27 20:18] zol opened #54 "Loading screen doesn't seem to wait for the route to load"
When offline. When the launch screen is removed, we should already be at the 'connecting...' state with data loaded.

[2014-10-27 20:34] zol opened #55 "Subscribe to what's cooking data immediately when app loads"
So by the time you go to what's cooking the data is loaded

[2014-10-27 20:36] zol opened #56 "Limit what's cooking page to e.g 10 items"

[2014-10-27 23:59] domyen commented on #53
https://github.com/percolatestudio/mdg-recipes/commit/01f9ef613607a895f998cc0df7823bc43d39c024

[2014-10-28 03:09] zol opened #57 "Add activity createdAt time to activity lock up"
In a future point release, ofcourse we'll need to design this.

[2014-10-28 03:10] zol opened #58 "Add activity createdAt time to activity lock up"
In a future point release, ofcourse we'll need to design this.

[2014-10-28 03:11] zol commented on #58
Dupe of #57

[2014-10-28 03:11] #58 closed, assigned to nobody

[2014-10-28 03:13] zol opened #59 "Recipe title below nav on iPhone 4 size screens"
When recipe titles are 2 lines long, on the recipe page they flow underneath the nav and page title as there is less vertical space available on the smaller screen.

[2014-10-28 03:49] zol opened #60 "Add login button to /admin forbidden page (if you're not logged in)"

[2014-10-28 04:33] #60 closed, assigned to nobody

[2015-02-12 18:34] #44 closed

[2015-12-04 09:24] slepit opened #61 "Ios - Scroll issue on edited example app of local market app"
Hello,

an issue has been logged in the wrong topic area. I actually have the same issue thus I create an entry here.

https://forums.meteor.com/t/ios-scroll-issue-on-edited-example-app-local-market/13961

"Hi, I'm really new to meteor and javascript as a whole. I tried editing the example app.. I set the route for home to recipes and removed all other routes aside from the singe recipe. In androi